/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  );
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
}

button:hover {
  transform: scale(1.05);
  opacity: 1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.worckplace {
  display: flex;
  border: solid 5px yellow;
  width: 1000px;
}

.worckplace > div {
  padding-top: 10px;
}
.page_1 {
  width: 500px;
  height: 600px;
  margin: auto;

}

.textarea_container {
  font-size: 18x;
  width: 400px;
  height: 380px;
  margin-top: 40px;
}

.page_2 {
  width: 400px;
  height: 500px;
}
.page_2 > input {
  height: 20px;
  margin-left: 5px;
}
.search_button {
  font-size: 10px;
  height: 30px;
}

button {
  margin-left: 5px;
}
